body {
  margin: 0px;
  padding: 20px 0px;
  text-align: center;
  font-family: georgia, times, serif;
  font-size: 14px;
  color: #404050;
}
div.page {
  width: 980px;
  margin: 0 auto;
}
div.drawings {
  padding: 10px;
}
div.instructions {
  position: relative;
  left: 50%;
  margin-left: -400px;
  width: 800px;
  text-align: left;
  padding-bottom: 20px;
}
div.drawing {
  width: 180px;
  display: inline;
  float: left;
  margin: 10px;
  padding: 10px 10px 0px;
  border: solid 2px #e5e5ef;
}
p.drawing {
  display: inline;
  float: auto;
  margin: 10px 10px 0px 10px;
  padding: 0px;
}
p.error {
  visibility: hidden;
  width: 500px;
  display: inline;
  padding: 10px 50px;
}
span.info {
  display: block;
  float: auto;
  text-align: center;
  font-size: 12px;
  margin-top: 5px;
}
label.label {
  margin: 3px;
}
span.clickable {
  cursor: pointer;
  cursor: hand;
}
.overflow {
  height: 300px;
}
.left_align {
  text-align: left;
}
h1.title {
  text-align: center;
  margin: 20px;
  font-size: 72px;
}
a:link {
  color: #882222;
}
a:visited {
  color: #882222;
}
a:hover {
  color: #882222;
}
a:active {
  color: #404050;
}