<% data.forEach(function(datum) { %>
  <div class="drawing">
    <svg viewBox="0 0 255 255" height="200px" width="200px">
      <path d="<%= svg_path(datum['d']) %>" style="fill:none;stroke:#220000;stroke-width:1.0px;stroke-opacity:1" />
    </svg>
    <p class="drawing">
      <span class='info'><%= ref.isoCodes[datum['c']] -%></span>
      <span class='info'><%= String.toTitleCase(datum['w']) -%></span>
      <span class='info'><%= ref.recognized[datum['r']] %> -%></span>
    </span>
    </p>
  </div>
<% }); %>