<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="/css/jquery-ui.min.css" type="text/css" />
  <link rel="stylesheet" href="/css/jquery-ui.theme.min.css" type="text/css" />
  <link rel="stylesheet" href="/css/style.css" type="text/css" />
  <script src="//ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="/scripts/jquery-ui.min.js"></script>
  <script src="/scripts/ejs.min.js"></script>
  <script src="/scripts/helper.js"></script>
</head>

<body>
  <h1 class="title">Admin Console</h1>
  <div class="">
    <div>
      <h2 class="state">Flagged Drawings</h2>
      </div>
      <input id="flagged" type="button" value="Show Flagged Drawings">
      <input id="inappropriate" type="button" value="Show Inappropriate Drawings">
    </div>
    <div id="drawings" class="drawings"></div>
    <p id="error" class="ui-state-error ui-corner-all error">No flagged drawings</p>

    <script>
      $(function() {
        var drawingTemplate = undefined;
        $.ajax({
          url: '/templates/drawings.ejs',
          success: function(result) {
            drawingTemplate = result;
          },
          failure: function(err) {
            console.log(err);
          },
          async: false
        })

        function queryForDrawings(show) {
          var criteria = {};

          criteria.show = show;

          $.post({
            url: '/drawings/admin/fetch',
            data: criteria,
            success: function(res) {
              if (res.data.length == 0) {
                if ($("#drawings").html().length == 0) {
                  $('#error').css('visibility', 'visible');
                }
              } else {
                res.adminControls = show == 'flagged';
                $("#drawings").html(ejs.render(drawingTemplate, res));
                $("span.inappropriate").button().click(inappropriateDrawing);
                $("span.acceptable").button().click(acceptableDrawing);
              }
            }
          });
        };

        function showInappropriateDrawings() {
          queryForDrawings('inappropriate');
          $("h2.state").html("Inappropriate Drawings");
        }

        function showFlaggedDrawings() {
          queryForDrawings('flagged');
          $("h2.state").html("Flagged Drawings");
        }

        $("#flagged").button().click(showFlaggedDrawings);
        $("#inappropriate").button().click(showInappropriateDrawings);


        showFlaggedDrawings();

        var reportDrawing = (clicked, report) => {
          // get flag's parent drawing div
          var $drawing = clicked.parents('div.drawing:first');
          // get the drawing's id
          var id = $drawing.children('[name=_id]:first').val();
          
          $.post({
            url: `/drawings/admin/${report}`,
            data: {_id: id},
            success: function(res) {
              if (res) {
                $drawing.fadeOut(800);
              } else {
                console.log(`failed to mark drawing ${id} as ${report}`);
              }
            }
          });
        }

        function inappropriateDrawing() {
          reportDrawing($(this), 'inappropriate');
        }

        function acceptableDrawing() {
          reportDrawing($(this), 'acceptable');
        }

      });
    </script>
  </div>
</body>

</html>