<html>

<head>
  <link rel="stylesheet" href="/css/jquery-ui.min.css" type="text/css" />
  <link rel="stylesheet" href="/css/jquery-ui.theme.min.css" type="text/css" />
  <link rel="stylesheet" href="/css/style.css" type="text/css" />
  <script src="//ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="/scripts/jquery-ui.min.js"></script>
  <script src="/scripts/ejs.min.js"></script>
  <script src="/scripts/helper.js"></script>
</head>

<body>
  <div class="left">
    <h1><%=message%></h1>
    <form id="form" method="post" action="/drawings/admin/login">
      <input type="hidden" name="url" value="<%=url%>">
      <p>Username:</p>
      <input type="text" id="username" name="username">
      <p>Password:</p>
      <input type="password" id="password" name="password">
      <p>
        <input id="submit" type="submit" name="submit" value="Submit">
      </p>
    </form>
  </div>
  <script>
    $(function() {
      $("#submit").button();

      $('#form').on('submit', function(e) {
        if (!$('#username').val() || !$('#password').val()) {
          alert("Enter a username and password");
          e.preventDefault();
        }
      });
    });
  </script>
</body>

</html>